---
import type { CompanyFrontmatter } from 'src/types/CompanyFrontmatter'

export interface Props {
	title: string
	company: CompanyFrontmatter
}

const { title, company } = Astro.props

let companyHtml = (title.length > 0 ? "<strong>" + title + ":</strong></br>" : "")
companyHtml += company.name

for (let line of [company.address1, company.address2, company.address3, company.city, company.county, company.postcode, company.country, company.phone]) {
	if (line && line.length > 0)
		companyHtml += "<br/>" + line
}
---
<div class="company-details">
	<p set:html={companyHtml} />
</div>
